.hyper-link {
    color: #0000FF;
    text-decoration: underline;
}

.fixedBox {
    position: fixed;
    width: 100%; 
    top: 0; 
    right: 0;
    font-size: 22px;
    border-radius: 0;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 3px;
    color: #fff;
    padding: 10px;
}

.write-btn-fixed {
    position: fixed; 
    bottom: 50px; 
    right: 20px;
    z-index: 1;
    padding: 10px; 
    background: lightseagreen; 
    border-radius: 6px;
    color: #fff;
    border: 1px solid rgb(23, 122, 117);
    text-align: left;
}

body {
    padding-top: 50px;
    /* 생략 */
}